/*--------------Root--------------*/
:root {
  --main-title-color: #ffffff;
  --second-color-: #000000;
  --nav-link-color: #212121;
  --nav-link-focus: #2196f3;
  --header-contakt-color: #757575;
  --hero-bacgr-color: #2f303a;
  --indent: 30px;
  --items: 3;
}

/*--------------Body--------------*/
body {
  font-family: "roboto", verdana, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}
.link {
  text-decoration: none;
}
footer {
  background-color: #2f303a;
}
/*--------------Card-Set--------------*/
.card-set {
  display: flex;
  gap: var(--indent);
  flex-wrap: wrap;
}
.card-set-items {
  flex-basis: calc((100% - var(--indent) * var(--items-1)) / var(--items));
}
.card-set-items:hover,
.card-set-items:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*--------------Header--------------*/
.header {
  background-color: white;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header-container {
  display: flex;
  align-items: center;
  max-width: 1600px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo:hover,
.logo:focus {
  color: #2196f3;
}

.logo-header,
.logo-footer {
  color: #000000;
}

.nav-main {
  margin-left: 93px;
}

.nav-list {
  display: flex;

  align-items: center;
  gap: 50px;
}
.header-group {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-cont {
  margin-right: auto;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
  text-decoration: none;
}
.nav-link:hover {
  fill: #2196f3;
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}

/*--------------Main/Hero-1--------------*/

.hero-section {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-1-title {
  display: block;
  margin: 0 auto;
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.363;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn {
  display: flex;
  margin: 0 auto;
}
.main-btn {
  margin-top: 30px;
  border: #2196f3;
  min-width: 216px;
  min-height: 50px;
  padding: 9px 31px;

  left: 692px;
  top: 430px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
}
/*--------------Main/Hero--------------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.hero-title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-list {
  display: flex;
  justify-content: center;

  gap: 30px;
}
.hero-text {
  width: 270px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-section {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/*--------------Gallery--------------*/
.about-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.gallery {
  padding-top: 0px;
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
}

.features-section {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/*--------------Team--------------*/
.team-section {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.team-fon {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  padding-top: 94px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-worker {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-job-title {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*--------------Footer--------------*/
footer {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.address-list {
  margin-bottom: 9px;
  text-decoration: inherit;
}

.address-list:last-child {
  margin-bottom: 0;
}
address,
.address-item {
  font-style: inherit;

  line-height: 1.71;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.logo-1 {
  margin-top: 30px;
}
.logo-footer-color {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.masage-footer {
  display: flex;
}

.blok-msg-footer {
  display: block;

  margin-left: 70px;
}
.blok-pos-footer {
  margin-top: 15px;
}

.logo-footer-pos {
  padding-left: 15px;
  padding-right: 15px;
}

.social-links-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

/*--------------Portfolio--------------*/
.list-nav {
  display: inline;
  gap: 8px;
}
.container-nav {
  display: flex;
  justify-content: center;
}
.container-portf {
  margin-bottom: 34px;
}
.main-btn-portf {
  min-height: 38px;
  border: #f5f4fa;
  padding: 5px 21px;
  margin-bottom: 50px;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.main-btn-portf:hover,
.main-btn-portf:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.main-btn-portf:hover {
  color: white;
}
.portf-title {
  margin-bottom: 8px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
.main-item-portf {
  margin-right: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.img-text {
  text-decoration: none;
}

.projects {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  cursor: pointer;
}

/*--Block styles--/
/*reset start*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}
img {
  display: block;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visited .link:visited {
  color: #2196f3;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/img-hero.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*--<svg>
            <use href="./images/hero/img-hero.svg"></use>
          </svg>--*/

.icon-about {
  width: 70px;
  height: 70px;

  background-size: contain;

  margin-left: 100px;
  margin-top: 25px;
}

.div-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: block;
}
.icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/*----------Icon Clients---------*/

.titel-clients {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.list-clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.link-clients {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-logo-client {
  display: flex;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.link-clients:hover .icon-logo-client,
.link-clients:focus .icon-logo-client {
  fill: #2196f3;
  border-color: #2196f3;
}

.link-clients:hover,
.link-clients:focus {
  border-color: #2196f3;
}

.footer-container {
  display: flex;
}

.clients-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/*------social-networks--------*/
.list-team {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.socials-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-links:hover .socials-icon,
.social-links:focus .socials-icon {
  fill: #ffffff;
  background-color: #2196f3;
}

.social-links:hover {
  background-color: #2196f3;
}

.list-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.socials-icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.social-links-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.social-links-footer:hover .socials-icon,
.social-links-footer:focus .socials-icon {
  fill: #ffffff 10%;
  background-color: #2196f3;
}

.social-links-footer:hover {
  background-color: #2196f3;
}
