//--hero btn
.hero-section__btn {
  margin-top: 30px;
  border: #2196f3;
  min-width: 216px;
  min-height: 50px;
  padding: 9px 31px;

  left: 692px;
  top: 430px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
}

//--modal footer btn

.modal-form-footer-btn {
  display: flex;
  justify-content: center;

  border: #2196f3;
  min-width: 200px;
  min-height: 50px;

  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;

  line-height: 1.875;
  align-items: center;
  text-align: center;

  letter-spacing: 0.06em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  & {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.main-btn-portf {
  min-height: 38px;
  border: #f5f4fa;
  padding: 5px 21px;
  margin-bottom: 50px;
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  & {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:hover {
    color: white;
  }
}
