.titel-clients {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 50px;
}

.list-clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.link-clients {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: #2196f3;
}

.icon-logo-client {
  display: flex;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.link-clients:hover .icon-logo-client,
.link-clients:focus .icon-logo-client {
  fill: currentColor;
}

.link-clients:hover,
.link-clients:focus {
  fill: currentColor;
  border-color: currentColor;
}

.link-clients {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo-client {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
  display: flex;
}

.clients-section {
  margin-left: auto;
  margin-right: auto;
}
