.list-features {
  display: flex;
  justify-content: center;

  gap: 30px;
}

.list-features__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
