.address-list {
  margin-bottom: 12px;
  text-decoration: inherit;
}

.address-list:last-child {
  margin-bottom: 0;
}
address,
.address-item {
  font-style: inherit;
  line-height: 1.71;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.masage-footer {
  //margin-left: auto;
  //margin-right: auto;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    flex-direction: inherit;
  }
  gap: 60px;
  @media screen and (min-width: 1200px) {
    gap: 94px;
  }
}

.div-link-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.blok-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
////
///

.footer-adress {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @media screen and (min-width: 768px) {
    flex-direction: initial;
    justify-content: center;
    gap: 165px;
  }
  @media screen and (min-width: 1200px) {
    gap: 70px;
  }
}

.contacts-list {
  display: flex;

  flex-direction: column;

  align-items: center;
  margin-left: 0;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
