.form-send-footer {
  //margin-left: 93px;
  display: block;
}

.modal-form-footer {
  width: 450px;
  height: 50px;

  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background: #2f303a;
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.modal-form-footer:focus {
  outline-color: #ffffff;
  background-color: #ffffff;
}

.form-footer {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    flex-direction: inherit;
  }
}

.img-send-footer {
  margin-left: 10px;
}
