.icon-features {
  width: 70px;
  height: 70px;
}

.icon-features::after {
  background-position: center;
}

.icon-mail {
  fill: currentColor;
  width: 14px;
  height: 10px;
  margin-right: 8px;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.icon-tel {
  fill: currentColor;
  height: 14px;
  margin-right: 8px;

  width: 10px;

  @media screen and (min-width: 1200px) {
    height: 16px;
    margin-right: 10px;
  }
}
