.hero-section__title {
  margin: 0 auto;
  font-weight: 900;

  width: 360px;
  font-size: 26px;
  line-height: 1.615;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    display: block;
    width: 696px;
    font-size: 44px;
    line-height: 1.363;
  }
}

.list-features__title {
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.about-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.178;

  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.166;
  }
}

.team-job-title {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  justify-content: center;

  color: #ffffff;

  margin-bottom: 20px;
}

.title-footer-form {
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  text-align: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.portf-title {
  margin-bottom: 8px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
