body {
  font-family: "roboto", verdana, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;

  height: 604px;
  @media screen and (min-width: 768px) {
    height: 464px;
  }

  @media screen and (min-width: 1200px) {
    height: 251px;
  }

  width: auto;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767) {
  }
}
